@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
#header {
  background: #ffffffe5;
  padding-block: 40px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    img {
      max-width: 200px;
    }
    &--nav {
      display: flex;
      padding: 50px;
      gap: 30px;
      @media (max-width: 900px) {
        display: none;
      }
      a {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: clamp(0.7rem, 1.4vw, 3rem);
        color: #274c5b;
      }
      select {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: clamp(0.7rem, 1.4vw, 3rem);
        color: #274c5b;
        border: none;
      }
    }
    &--block {
      display: flex;
      align-items: center;
      gap: 30px;
      &__menu {
        display: none;
        @media (max-width: 900px) {
          display: flex;
        }
        button {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background: #7eb693;
          color: white;
          font-size: 25px;
          font-size: clamp(0.8rem, 1.5vw, 1.8rem);
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &--menuBlock {
          display: flex;
          position: absolute;
          align-items: center;
          width: 150px;
          height: 250px;
          gap: 7px;
          -webkit-box-shadow: 0px 0px 8px -3px rgba(66, 68, 90, 1);
          -moz-box-shadow: 0px 0px 8px -3px rgba(66, 68, 90, 1);
          box-shadow: 0px 0px 8px -3px rgba(66, 68, 90, 1);
          background: white;
          flex-direction: column;
          top: 50px;
          right: 0;
          z-index: 1;
          border-radius: 5px;
          a {
            color: black;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: clamp(1.3rem, 2.3vw, 3rem);
            padding-top: 5px;
          }
        }
      }
      &__card {
        display: flex;
        align-items: center;
        width: 180px;
        height: 45px;
        border: 1px solid #e0e0e0;
        padding: 5px;
        border-radius: 35px;
        position: relative;
        a {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background: #7eb693;
          color: white;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #e0e0e0;
        }
        p {
          font-weight: 500;
          font-size: 15px;
          position: absolute;
          left: 90px;
          font-family: "Roboto", sans-serif;
        }
      }
    }
  }
}
